:root {
  --green: #1e8634;

  --green-900: #166421;
  --green-800: #1d7a28;
  --green-700: #2a9d3b;
  --green-600: #3fbd53;
  --green-500: #51d769;
  --green-400: #69e088;
  --green-300: #8ae0b5;
  --green-200: #b3e8d9;
  --green-100: #dcedf3;
  --green-50: #f0f9f7;

  --white: #fff;
  --black: #000;
}
